# Rename this file to .env and apply correct values

# This is used by scripts dir (node NOT deno). If you ever wanna create other scripts in there.

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
