@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("../assets/fonts/neue_haas_grotesk/NeueHaasDisplayMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BackToBlack";
  src:
    url("../assets/fonts/back_to_black/BackToBlack.woff2") format("woff2"),
    url("../assets/fonts/back_to_black/BackToBlack.woff") format("woff"),
    url("../assets/fonts/back_to_black/BackToBlack.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOraDisplay";
  src: url("../assets/fonts/ivy_ora_display/IvyOraDisplay-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
