@import "tailwindcss";
@import "tw-animate-css";
@import "./tw-utils.css";
@import "./fonts.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

:root {
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --background: #f0e3d9;

  /* Used in the brand's main action color (buttons, links, highlights) */
  --primary: #af4f47;
  /* The text/icon color on top of the primary color */
  --primary-foreground: oklch(0.985 0 0);

  /* A less-dominant color or secondary brand tone */
  --secondary: #333617;
  --secondary-foreground: oklch(0.985 0 0);

  --card: oklch(0.96 0.02 70);
  --card-foreground: oklch(0.18 0.02 70);

  --popover: oklch(0.95 0.015 70);
  --popover-foreground: oklch(0.18 0.02 70);

  --muted: oklch(0.92 0.01 70);
  --muted-foreground: oklch(0.4 0.02 70);

  --accent: oklch(0.9 0.05 30);
  --accent-foreground: oklch(0.18 0.02 70);

  --destructive: oklch(0.55 0.18 25);
  --destructive-foreground: oklch(0.98 0 0);

  --border: oklch(0.68 0.05 30);
  --input: oklch(0.68 0.05 30);
  --ring: oklch(0.68 0.05 30);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.18 0.02 70);
  --sidebar-primary: oklch(0.33 0.05 115);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.92 0.02 70);
  --sidebar-accent-foreground: oklch(0.18 0.02 70);
  --sidebar-border: oklch(0.85 0.01 70);
  --sidebar-ring: oklch(0.7 0.04 40);

  /* Most like we're not gonna need charts but just in case. */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --font-ivy-ora-display: "IvyOraDisplay", "sans-serif";
  --font-back-to-black: "BackToBlack", "sans-serif";
}
