# Rename this file to .env and apply correct values. 

ENV=developmennt

# NOTE:
# Supabase env's work without uncommenting them and using them. as of this writing
# supabase sets proper env vars in dev automatically when you run 'supabase start'.
# You just have to call the correct key string and it'll work both dev and prod.
# SUPABASE_URL=
# SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=

# PAYMONGO_PUBLIC_KEY=
# PAYMONGO_SECRET_KEY=
